@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;1,100;1,200&family=Mitr:wght@200;300;400;500&family=Tapestry&display=swap");
:root {
  --primary: #7400ff;
  --secondary: #4700ff;
  --background: #0b0016;
  --grey: #9b9eac;
  --light: #fff;
  --dark: #0a0a0a;
  --main-font: "Tapestry", cursive;
  --secondary-font: "Macondo", cursive;
  --sidePadding: 12%;
}
dt {
    margin-top: 0.5em;
              font-family: var(--secondary-font);
              font-weight: 900;
              font-size: 1.5rem;
              color: var(--primary);
}


.right{
    float: right;
    width: 50%;
}
.left{
    float: left;
    width: 50%;
}