@import url("https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap");
:root {
  --primary: #7400ff;
  --secondary: #4700ff;
  --background: #0b0016;
  --grey: #9b9eac;
  --light: #fff;
  --dark: #0a0a0a;
  --main-font: "Radio Canada", sans-serif;
  --secondary-font: "Radio Canada", sans-serif;
  --sidePadding: 12%;
}
dt {
  margin-top: 0.5em;
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--primary);
}

.right {
  float: right;
  width: 50%;
}
.left {
  float: left;
  width: 50%;
}
hover-element { 
    color: var(--light)
}