@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;1,100;1,200&family=Mitr:wght@200;300;400;500&family=Tapestry&display=swap");
:root {
  --primary: #7400ff;
  --secondary: #4700ff;
  --background: #0b0016;
  --grey: #9b9eac;
  --light: #fff;
  --dark: #0a0a0a;
  --main-font: "Tapestry", cursive;
  --secondary-font: "Macondo", cursive;
  --sidePadding: 12%;
}
* {
  box-sizing: border-box;
  font-family: var(--secondary-font);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--background);
  color: var(--grey);
  width: 100%;
}
.main-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--sidePadding);
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 300;
}
.main-nav-elements {
  padding: unset;
}
.main-nav.fixed {
  position: fixed;
  background-color: var(--dark);
}
.nav-logo {
  height: 5em;
  width: 6em;
  display: flex;
  align-items: center;
}
.main-nav-elements {
  display: flex;
  margin: 0 0 0 auto;
}
.main-nav-element,
.hover-element {
  list-style: none;
  text-transform: uppercase;
  margin: auto 1em;
  font-weight: 500;
}
.main-nav-element > a {
  color: var(--light);
  text-decoration: none;
  padding: 1em 0;
}
.main-nav-element:first-child > a {
  color: var(--primary);
}
.main-nav-element:hover > a,
.hover-element:hover > a {
  color: var(--secondary);
}
.button,
.button.secondary:hover {
  background-color: var(--primary);
  color: var(--dark);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.8em 1.8em;
  font-size: 1em;
  margin: auto 0;
  border: 1px solid var(--primary);
  transition: background 300ms ease-in, color 300ms ease-in;
}
.button:hover,
.button.secondary {
  background-color: transparent;
  color: var(--primary);
}

.hover-menu {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 2em;
  background-color: var(--light);
  padding: 0;
}
.hover-menu a {
  color: var(--dark);
  text-decoration: none;
  padding: 1em;
}

.menu-holder {
  position: relative;
}
.menu-holder:hover .hover-menu {
  visibility: visible;
}
.hover-element {
  display: flex;
}
section {
  display: flex;
  flex-direction: column;
  padding: 5em var(--sidePadding);
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--light);
  font-family: var(--main-font);
  margin: 0;
  line-height: 1em;
}
h1 {
  font-size: 5rem; /* 3.5 x size of the root font*/
  width: 8.2ch;
}
h1::first-line {
  color: var(--primary);
}
h2 {
  font-size: 2.7rem;
  font-weight: 600;
}
h3 {
  color: var(--secondary);
  font-size: 2.6rem;
  font-weight: 700;
  font-family: var(--secondary-font);
}
h4 {
  color: var(--secondary);
  font-size: 2rem;
}
h6 {
  margin-top: 0.5em;
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--primary);
}
#diff {
  display: block;
}
h6:hover {
  color: var(--secondary);
}
a {
  color: var(--light);
  text-decoration: none;
}
p {
  font-size: 1.2em;
}
/*---------- HOME -----------------*/
#Home {
  height: 100vh;
  background: url(./images/background.jpg);
  background-size: cover;
  display: flex;
}
#Home::before {
  content: " "; /* important */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(11, 0, 22, 0.6) 0%,
    rgba(11, 0, 22, 0.7) 65%,
    rgba(11, 0, 22, 1) 100%
  );
}
#Home > section {
  z-index: 1;
  justify-content: center;
}
#Home .info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

#Home .info a {
  margin-bottom: 0.5em;
}
/*------------About ----------*/
#About {
  flex-direction: row;
  align-items: center;
}
.about-sub {
  width: 50%;
}
.about-sub h2 {
  width: 9ch;
  margin-bottom: 0.5em;
}

/*--------------------Speakers ------------*/
#Speakers .top-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5em;
}
.speaker {
  padding: 0 0.5em;
}
.speaker-visual {
  position: relative;
  overflow: hidden;
}
.speaker-visual .speaker-socials {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 15%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.speaker-visual .speaker-socials img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  padding: 0.5em;
  background-color: var(--secondary);
}
.speaker-visual .speaker-socials img:hover {
  background-color: var(--primary);
}
.speaker-visual .speaker-socials .speaker-social {
  transform: translateY(5em);
  transition: transform 400ms ease-out;
}
.speaker-visual .speaker-socials .speaker-social:nth-child(2) {
  transition-delay: 100ms;
}
.speaker-visual .speaker-socials .speaker-social:nth-child(3) {
  transition-delay: 200ms;
}
.speaker-visual .speaker-socials .speaker-social:nth-child(4) {
  transition-delay: 300ms;
}
.speaker-visual:hover .speaker-socials .speaker-social {
  transform: translateY(0);
}
.speaker-visual > img {
  transition: transform 400ms ease-out;
}
.speaker-visual:hover > img {
  transform: scale(1.1);
}
.speaker p {
  margin: 0.5em 0;
  color: var(--light);
}
.speaker p span {
  color: var(--grey);
}
.speakers .owl-nav {
  width: calc(100% + 6em);
  position: absolute;
  display: flex;
  margin: auto -3em;
  justify-content: space-between;
  top: 35%;
}
.speakers.speakers .owl-nav button {
  font-size: 5em;
}
#copyright {
  text-align: center;
}
#lastimage {
  height: 5em;
  width: 6em;
  display: flex;
  align-items: center;
}

/*-------------------Slides----------------*/
.everything {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.gallery {
  padding: 5em var(--sidePadding);
  display: grid;
  grid-template-columns: repeat(10, 80vw);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 90vh;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
}
.carou img {
  margin: 0;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
.active {
  scroll-snap-type: unset;
}
.carou {
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
}
element {
  -ms-overflow-style: none;
  scrollbar-width: scroll;
  overflow-y: scroll;
}
element::-webkit-scrollbar {
  display: none;
  width: 12px;
}
element::-webkit-scrollbar-track {
  background: #0b0016;
}
element::-webkit-scrollbar-thumb {
  background-color: #0b0016; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #7400ff; /* creates padding around scroll thumb */
}
#box01 {
  float: left;
  width: 50%;
}
#box02 {
  float: right;
  width: auto;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
